.lyt-float-L {
	float: left;
}
.noBigPoster > .header {
}
.noBigPoster .header-bigPoster,
.noBigPoster .header-btmDivider {
	display: none;
	background-image: none;
}
.playerContainer {
	padding: 50px 0px;
	margin: 0 auto 50px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.5) inset;
	background-color: #f5f5f5;
}
.playerContainer-player {
	width: 860px;
	height: 480px;
	margin: 0 auto;
	background-color: #000;
}
.currentDrama-info {
	margin: 10px 0;
}
.currentDrama-info > h3 {
	font-size: 1.1em;
}
.currentDrama-info > p {
	width: 500px;
	padding-left: 10px;
	overflow: hidden;
}
.contentBox {
	margin-bottom: 72px;
	padding-bottom: 72px;
}
.contentBox.currentDrama {
	border-bottom: 1px solid #e9e9e9;
}
